.select-img {
  width: 100px;
}

.form-img-box {
  border: 1px solid black;
  margin: 3px;
  display: inline-block;
}

.form-img-box:hover {
  opacity: 0.5;
}

.img-container {
  display: inline-block;
  margin: 0 4px;
  width: 150px;
  height: 107px;
  background-color: blue;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.game-img {
  width: 150px;
  height: 107px;
  visibility: hidden;
  z-index: -100;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.player-box {
 display: inline-block;
 border: 1px solid black;
 margin: 3px;
 background-color: lightblue;
 cursor: pointer; 
}


#add-points-msg {
  display: inline-block;
}
