<%- include('../partials/header') %>


<div hidden>
  <p id="player-count"><%= players %></p>
  <p id="category"><%= category %></p>
  <% for (i=0; i<userChoices.length; i++) { %>
    <p class="game-image-data"><%= userChoices[i] %></p>
    <% } %>
</div>

<div id="player-container"></div>

<div id="game-container"></div>

<button id="continue">Continue</button>
<div id="add-points-msg" class="hide">
  <p>Add points to a team.</p>
</div>

<script src="js/client.js"></script>
</body>
</html>
