<%- include('../partials/header') %>

<link rel="stylesheet" href="css/game.css">
</head>
<body>
  <a href="/">Home</a>
  
<div hidden>
  <p id="player-count"><%= players %></p>
  <p id="category"><%= category %></p>
  <% for (i=0; i<userChoices.length; i++) { %>
    <p class="game-image-data"><%= userChoices[i] %></p>
    <% } %>
</div>
 
<div id="player-container"></div>

<div id="game-container"></div>

<script src="js/client.js"></script>
</body>
</html>
